/* Общие стили для всех секций */
.section {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px 0;
    text-align: center;
}

/* Стили для первой секции */
.first-section {
    background-color: #3498db; /* Цвет фона */
}

/* Стили для второй секции */
.second-section {
    background-color: #27ae60; /* Цвет фона */
}

/* Стили для третьей секции */
.third-section {
    background-color: #e74c3c; /* Цвет фона */
}

/* Стили для обеспечения видимости текста на фоновых картинках */
.section h2, .section p {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}
